<h1>Lyrics on Rails</h1>

<p>Can't remember the lyrics to a song? Search here!</p>
<br>
<!-- <input  type="text" placeholder="Artist">
<input  type="text" placeholder="Song Title">
<button id="search_lyrics">submit</button> -->
<div id="form_container">
  <%= form_tag("/lyrics", method:"get", remote:true) do %>
  <%#= form_tag("/", remote:true) do %>
    <%= label_tag(:artist, "Artist:") %>
    <%= text_field_tag(:artist) %>
    <%= label_tag(:song, "Song Title:") %>
    <%= text_field_tag(:song) %>

    <%= button_tag "Search", :class =>"search_lyrics"%>
  <% end %>
</div>

<div id="saved_songs">
<%= link_to "My Saved Songs", :controller => :saves , :action => :index %>
</div>

<div id="lyrics">

</div>


